h1 {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
  }
.container-eda {
    margin-top:50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    

}
body{
  background-color:  #fefefe;
}
.img-fluid{
  width: 300px;
  height: 300px;
}
section{
  margin-top: 50px
}
.caru{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.caru .carousel-inner {
  height: 400px;
  border-radius: 50px; /* Adjust carousel height as desired */
}

.caru .carousel-item img {
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}