h1 {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
  }

p{
  font-size: 20px;
}  
.container-eda {
    margin-top:50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    

}
body{
  background-color:  #fefefe;
}
.img-fluid{
  width: 300px;
  height: 300px;
}
section{
  margin-top: 50px
}
.caru{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.caru .carousel-inner {
  height: 400px;
  border-radius: 50px; /* Adjust carousel height as desired */
}

.caru .carousel-item img {
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.buttonchick{
  text-align: center;
}
button {
 
  margin-top: 10px;
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
 button:disabled {
  pointer-events: none;
 }
 
 button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 
 button:active {
  box-shadow: none;
  transform: translateY(0);
 }
 #promoCode {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}
/* tooltip settings 游녢 */

.copy {
  /* button */
  --button-bg: #353434;
  --button-hover-bg: #464646;
  --button-text-color: #CCCCCC;
  --button-hover-text-color: #8bb9fe;
  --button-border-radius: 10px;
  --button-diameter: 36px;
  --button-outline-width: 1px;
  --button-outline-color: rgb(141, 141, 141);
  /* tooltip */
  --tooltip-bg: #f4f3f3;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  /* 游녡 this field should not be empty */
  --tooltip-font-size: 12px;
  /* 游녡 this field should not be empty */
  --tootip-text-color: rgb(50, 50, 50);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;
  /* --tooltip-transition-duration: 0.3s; */
  /* 游녡 if you need a transition, 
  just remove the comment,
  but I didn't like the transition :| */
}

.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  content: attr(data-text-initial);
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -999;
  pointer-events: none;
}

.copy svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkmark {
  display: none;
}

/* actions */

.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
  display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
  display: block;
}

.copy:hover,
.copy:focus {
  background-color: var(--button-hover-bg);
}

.copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}

.map-container {
  border-radius: 50px;
  overflow: hidden;
  padding-bottom: 50%; /* 햊향햪햣햫햦혝햣 혨혝 향햫햟혢햣햫햦햣 햫햟 햤햣햩햟햣햪혦햧 쮐햣햫혝 */
  margin-top: 20px;
  position: relative;
}

.map-container iframe {
  border-radius: 50px;
  height: 300px; /* 햊향햪햣햫햦혝햣 혨혝 향햫햟혢햣햫햦햣 햫햟 햤햣햩햟햣햪혞혩 쒬혜쮐혞 */
  width: 1200px; /* 햊향햪햣햫햦혝햣 혨혝 향햫햟혢햣햫햦햣 햫햟 햤햣햩햟햣햪혞혩 혣햦햦햫혞 */
  position: absolute;
}
