/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Cinzel', serif;
}

/*--------------------------------------------------------------
# End General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation Bar 
--------------------------------------------------------------*/
.navbar-collapse {
  justify-content: right;
}

.rounded-fill {
  color: white;
}
/*--------------------------------------------------------------
# Navigation Bar
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Card of Restaurants
--------------------------------------------------------------*/
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 100px;
}

#search-input {
  width: 700px;
  padding: 5px;
  margin-right: 10px;
}

#filter-select {
  margin-right: 10px;
  margin-left: 340px;
  width: 215px;
}


#search-btn {
  padding: 5px 10px;
  margin-left: 290px;
  width: 150px;

}

#search-btn:active {
  background-color: #286090; 
  border-color: #286090; 
  box-shadow: none; 
  outline: none; 
}


#product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}


.card-img-top {
  width: auto; 
  height: 200px;
  object-fit: cover;
  display: block;
  align-content: center;
}
.card-title {
  font-size: 20px;
}
.card-text {
  font-size: 15px;
}


/*--------------------------------------------------------------
# End Card of Restaurants
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: #212529;
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.7);

}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  color: #fff;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer .copyright  {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

/*--------------------------------------------------------------
# End Footer
--------------------------------------------------------------*/

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}